.slogan {
  color: #F3EAFF;
  font-size: 40px;
  font-weight: 900;
  font-family: 'ClashDisplay-Bold', sans-serif;
  line-height: 1.1;
  letter-spacing: 0.05em;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0 0 0;
  padding: 0;
  position: relative;
  z-index: 10;

  @media (min-width: 576px) {
    font-size: 50px;
  }

  @media (min-width: 768px) {
    font-size: 60px;
    margin: 4rem 0 0 0;
  }

  @media (min-width: 992px) {
    font-size: 50px;
    margin: 6rem 0 0 0;
  }

  @media (min-width: 1200px) {
    font-size: 80px;
  }
}
