---
import './HomeSlogan.scss';
import {getTranslation} from "../../../../utils/i18n";

const lang = Astro.url.pathname.split('/')[1] ?? 'en';

---

<h1 class="slogan">
  {getTranslation(lang, 'home.slogan')}
</h1>
