---
import './HomeVideo.scss'
---

<section class="video-container">
  <video class="mobile-video" autoplay loop muted playsinline>
    <source src="https://res.cloudinary.com/dzb2wocuz/video/upload/v1742552583/zued80kb0oeywkzcaywk.mp4" type="video/mp4">
  </video>

  <video class="desktop-video" autoplay loop muted playsinline>
    <source src="https://res.cloudinary.com/dzb2wocuz/video/upload/v1742552680/welcome-desktop_bjto7l.mp4" type="video/mp4">
  </video>

  <div class="gradient"></div>
</section>
