---
import Layout from '../../layouts/Layout.astro';
import IndexVideo from "../../components/IndexVideo.astro";
import {getTranslation} from "../../utils/i18n";
import CustomMarquee from "../../components/react/CustomMarquee/CustomMarquee";
import CarouselSwiper from "../../components/react/CarouselSwiper/CarouselSwiper";
import type {EntityToList} from "../../models";

const API_URL = import.meta.env.PUBLIC_API_URL
const res = await fetch(`${API_URL}/club-events`);
const clubEvents: EntityToList[] = await res.json();
---

<Layout>
  <IndexVideo/>
  <CustomMarquee client:only="react">
    <h4>{getTranslation('en', 'home.marquee')}</h4>
  </CustomMarquee>

  <div class="home-content">
    <CarouselSwiper client:only="react" clubEvents={clubEvents}/>
  </div>
</Layout>
