---
import './Header.scss'
import logo from '../../assets/images/logo-white.svg';
const lang = Astro.url.pathname.split('/')[1] ?? 'en';
---

<header>
  <div class="logo-container">
    <a href={`/${lang}`}>
      <img src={logo.src} alt="logo" height="60px" width="auto"/>
    </a>
  </div>
</header>
