---
import '../../styles/FooterSection.scss'
import {getTranslation} from "../../../../utils/i18n";

const lang = Astro.url.pathname.split('/')[1] ?? 'en';
const clubEventsRoute = lang === 'es' ? '/es/eventos' : '/en/events';
---

<section class="footer-section">
  <h3>{getTranslation(lang, 'footer.menu')}</h3>
  <div class="content">
    <a href={`/${lang}`}>{getTranslation(lang, 'menu.home')}</a>
    <a href={clubEventsRoute}>{getTranslation(lang, 'menu.clubEvents')}</a>
  </div>
</section>
