---
import '../global.scss';
import '@fontsource-variable/jost';
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import {getTranslation} from "../utils/i18n";

const lang = Astro.url.pathname.split('/')[1] ?? 'en';

function t(key: string) {
  return getTranslation(lang, key);
}
---
<!doctype html>
<html lang={lang}>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width"/>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
  <meta name="generator" content={Astro.generator}/>
  <title>{t("title")}</title>
</head>
<body>
<Header/>
<slot/>
<Footer/>
</body>
</html>
